.Home {
  display: flex;
  flex: 1;
  flex-direction: column;

  &__ImageContainer {
    display: flex;
    flex: 4;
    align-items: center;
    justify-content: center;
    &__Image {
      img {
        width: 650px;
      }
    }
  }

  &__Content {
    display: flex;
    flex: 10;
    align-items: center;
    &__Text {
      display: flex;
      flex: 6;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 60%;
      border-right: 2px $Secondary solid;
      p {
        font-size: 27px;
        color: $Secondary;
        line-height: 40px;
      }
    }
    &__StartButton {
      display: flex;
      flex: 3;
      padding-left: 100px;
      &__Image {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        img {
          width: 230px;
        }
        p {
          font-size: 35px;
          color: $Primary;
        }

        &:hover {
          transform: scale(1.1);
          transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
        }
      }
    }
  }
}
